.ai-review-button {
  border: 0;
  font-size: 0;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 24px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 4px;
  margin-top: 2px;
}
.luni-ai-github-code-review-container {
  padding: 25px;
  background: #eaf4ff;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  background-blend-mode: lighten;
}
